@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-9xl: 28px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;

  /* Colors */
  --color-darkslategray: #27374d;
  --color-slategray: #526d82;
  --color-white: #fff;
  --color-lightsteelblue: #9db2bf;
  --color-gainsboro: #dde6ed;

  /* Gaps */
  --gap-sm: 14px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-5xs: 8px;
}
